.custom-table {
    vertical-align: middle;
    font-size: 1.1em;
}

.custom-table td {
    vertical-align: middle;
    padding: .2rem;
    cursor: pointer;
}

.table-img {
    height: 75px;
    width: 75px;
}

.custom-buttonGroup {
    outline: none;
}

.add-button-div {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.manage-button-div {
    float: right;
}

.header-column-text {
    padding-left: 0px;
}

.add-button-div {
    float: right;
}